<component name="ArtifactManager">
  <artifact type="war" name="springmvc01:war">
    <output-path>$PROJECT_DIR$/springmvc01/target</output-path>
    <root id="archive" name="springmvc01.war">
      <element id="artifact" artifact-name="springmvc01:war exploded" />
    </root>
  </artifact>
</component>